@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-2">
        <button id="btnProcess" class="btn btn-primary">Start process</button>
    </div>
    <div id="divLoading" class="col-md-10 hide">
        <img src="~/img/loading.gif" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label id="lblMessage"></label>
    </div>
    <div class="col-md-12" id="divResult">
        
    </div>
</div>

@section scripts{ 

    <script>
        document.getElementById("btnProcess").addEventListener("click", ProcessOrders);

        async function ProcessOrders() {
            document.getElementById("divResult").innerHTML = "";
            document.getElementById("lblMessage").innerHTML = "";
            document.getElementById("divLoading").classList.remove("hide");

            const url = "/home/processorders";

            const response = await fetch(url, {
                headers: {
                    method: 'POST',
                    ContentType: 'application/json'
                }
            });

            const result = await response.json();

            document.getElementById("lblMessage").innerHTML = result.message;

            document.getElementById("divResult").innerHTML = `<strong>Rejected Orders (${result.rejected.length})</strong>`;

            for (let i = 0; i < result.rejected.length; i++) {
                const row = `<p>${result.rejected[i]}</p>`;
                document.getElementById("divResult").innerHTML += row;
            }

            document.getElementById("divLoading").classList.add("hide");
        }
    </script>

}