@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-md-2">
        <button id="btnProcess" class="btn btn-primary">Start process</button>
    </div>
    <div id="divLoading" class="col-md-10 hide">
        <img src="~/img/loading.gif" />
    </div>
</div>

<div class="row">
    <div id="divProgress" class="col-md-12 hide">
        <strong>Progress: </strong><label id="lblProgress">0</label><span>%</span>
        <div class="progress-background">
            <div id="progress-bar" style="width: 0">

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <label id="lblMessage"></label>
    </div>
    <div class="col-md-12" id="divResult"></div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script src="~/js/orders_progress.js"></script>
    <script src="~/js/orders.js"></script>
    <link href="~/css/order-progress.css" rel="stylesheet" />
}
